* {
    margin: 0%;
    padding: 0%;    
    }

/*grid til billeder af teamet*/
    .grid-team {
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto auto auto;
        padding: 10px;
      }
      
      .grid-billede {
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
/*grid til navne under billederne*/      
      .grid-navne {
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto auto auto;
        padding: 10px;
      }
      
      .grid-navn {
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }    